<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Anuncios</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="inicio.html">Inicio</a>
      <a href="perfil.html">Perfil</a>
      <a href="canciones.html">Canciones</a>
      <a href="playlists.html">Playlists</a>
      <a href="opiniones.html">Opiniones</a>
      <a href="anuncios.html">Anuncios</a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Gestión de Anuncios</h2>
      <div id="contenedor-anuncios">
      </div>
      <button class="boton" id="boton-crear-anuncio" style="display: block; margin: 15px auto 0 auto;">Crear nuevo anuncio</button>
    </section>
  </main>
  <script src="/static/anuncios.ts"></script>
</body>

</html>