<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Perfil</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="inicio.html">Inicio</a>
      <a href="perfil.html">Perfil</a>
      <a href="canciones.html">Canciones</a>
      <a href="playlists.html">Playlists</a>
      <a href="opiniones.html">Opiniones</a>
      <a href="anuncios.html">Anuncios</a>
    </nav>
  </header>
  <main>
    <div class="contenedor">
    <section class="perfil">
      <h2>Mi Perfil</h2>
      <img src="https://via.placeholder.com/120" alt="Foto de perfil" class="foto-perfil">
      <div style="text-align: center;">
      <p><strong>Nombre:</strong> <span id="nombre-usuario"></span></p>
      <p><strong>Usuario:</strong> <span id="nickname-usuario"></span></p>
      <p><strong>Correo:</strong> <span id="correo-usuario"></span></p>
      </div>
    </section>
    </div>
  </main>
  <script src="/static/perfil.ts"></script>
</body>
</html>