<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Agregar Canción</title>
  <link rel="stylesheet" href="static/css/style.css"> </head>

<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="inicio.html">Inicio</a>
      <a href="perfil.html">Perfil</a>
      <a href="canciones.html">Canciones</a>
      <a href="playlists.html">Playlists</a>
      <a href="opiniones.html">Opiniones</a>
      <a href="anuncios.html">Anuncios</a>
      <a href="agregar-cancion.html"><b>+ Agregar Canción</b></a>
    </nav>
  </header>
  <main>
    <div class="contenedor">
      <h2>Agregar Nueva Canción al Catálogo</h2>
      
      <form id="form-agregar-cancion">
        
        <label for="titulo">Título de la Canción</label>
        <input type="text" id="titulo" required>
        
        <label for="nombre_artista">Nombre del Artista</label>
        <input type="text" id="nombre_artista" required>
        
        <label for="imagen">Imagen de Portada</label>
        <input type="file" id="imagen" accept="image/*" required>
        
        <button type="submit" class="boton" id="btn-agregar-cancion">Subir Canción</button>
      
      </form>
      
    </div>
  </main>
  
  <script src="static/agregar-cancion.js"></script>
</body>
</html>