<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Anuncios</title>
  
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="agregar-cancion.html"><b>+ Agregar Canción</b></a>
    </nav>
  </header>
  <main>
    <div class="contenedor">
      <section>
        <h2>Gestión de Anuncios</h2>
        <p>La creación y gestión de anuncios se realiza a través del panel de administración del backend.</p>
        <p>(Esto es para el administrador del sitio).</p>
        
        <a href="http://127.0.0.1:8000/admin/" target="_blank" class="boton">
          Ir al Panel de Admin
        </a>
        
      </section>
    </div>
  </main>
  </body>
</html>