<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Iniciar sesión</title>
  
  <link rel="stylesheet" href="../static/css/style.css"> 
  
</head>
<body>
  <h1>Musicboxd</h1>
  <div class="contenedor">
    <h2>Iniciar sesión</h2>
    <form id="form-login">
      <label for="usuario_login">Nombre de usuario</label>
      <input type="text" id="usuario_login" placeholder="Tu nickname" required>
      <label for="clave_login">Contraseña</label>
      <input type="password" id="clave_login" placeholder="••••••••" required>
      <button class="boton" id="btn-login">Entrar</button>
    </form>
    <p class="texto-pequeño">¿No tienes cuenta? <a href="registro.html">Crear una nueva</a></p>
  </div>
  
  <script src="../static/login.js"></script>
</body>
</html>