<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Inicio</title>
  
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="inicio.html">Inicio</a>
      <a href="perfil.html">Perfil</a>
      <a href="canciones.html">Canciones</a>
      <a href="playlists.html">Playlists</a>
      <a href="opiniones.html">Opiniones</a>
      <a href="anuncios.html">Anuncios</a>
      <a href="agregar-cancion.html"><b>+ Agregar Canción</b></a>
      <a href="index.html" id="logout-boton">Cerrar sesión</a>
    </nav>
  </header>
  <main>
    <section class="bienvenida">
      <h2>Bienvenido a Musicboxd</h2>
      <p>Aquí puedes ver anuncios, explorar canciones, crear playlists y compartir opiniones.</p>
    </section>
    
    <section class="anuncios">
      <h3>Anuncios recientes</h3>
      
      <div class="anuncios-list">
        </div>
      
    </section>
  </main>
  
  <script src="../static/inicio.js"></script>
  
  <script>
    document.querySelector('#logout-boton')?.addEventListener('click', () => {
      localStorage.removeItem('authToken');
    });
  </script>
</body>
</html>