<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicboxd - Playlists</title>
  
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Musicboxd</h1>
    <nav>
      <a href="agregar-cancion.html"><b>+ Agregar Canción</b></a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Mis Playlists</h2>

      <div class="playlists-list">
        </div>
      
      <button class="boton botonCrear">Crear nueva playlist</button>
      
    </section>
  </main>

  <script src="../static/playlists.js"></script>
</body>
</html>